html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	background: #222223;
	font-family: Verdana, Geneva, sans-serif;
	height: 100%;
	overflow: hidden;
	width: 100%;
}

section {
	float: left;
	position: relative;
	overflow: hidden;
}

canvas {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.hidden {
	opacity: 0;
}

#sceneImage, #canvasWrapper, #loadingOverlay, svg, g, svg image, canvas {
	position: absolute;
}

#canvasWrapper {
	height: 800px;
	width: 1000px;
	left: 0;
	top: 0;
	z-index: 999999;
}

.mode-mask .can-render {
	display: none;
}

#roomScene, #swatches {
	background: #222223;
	height: 100%;
	position: absolute;
}

#roomScene {
	left: 26%;
	margin: 0.5% 0 0 0;
	width: 74%;
}

#swatches {
	font-size: 0;
	margin: 0.5% 0.5% 0 0.5%;
	/*position: relative;*/
	width: 25%;
}

#swatches img {
    height: 100%;
    width: 100%;
}

#swatches div {
	display: inline-block;
	height: 5.8%;
	margin: 0 0.5% 1% 0;
	width: 19.5%;
	cursor: move;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.mode-mask {
	cursor: crosshair;
}

.mode-mask #swatches div {
	opacity: 0;
}

#swatches #masking-UI {
	left: 0;
	opacity: 1;
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: 9999;
}

.mode-mask #swatches #masking-UI {
	top: 0;
}

#masking-UI a {
	background: rgba(255,228,255,.25);
	border-radius: 7px;
	color: #fffaee;
	color: #fff;
	display: block;
	font-size: 16px;
	margin-bottom: 10px;
	padding: 8px;
	text-decoration: none;
}

/*#controls {
	position: absolute;
	left: 880px;
	top: 20px;
	z-index: 999999999999;
}*/

/*#controls a {
	background: rgba(255,228,255,.25);
	color: #fffaee;
	display: inline-block;
	padding: 8px;
	border-radius: 7px;
	text-decoration: none;
}*/

#loadingOverlay {
	background: #333334;
	color: #fff;
	display: none;
	z-index: 3;
}

.touchEnabled #roomScene, .touchEnabled #swatches, #loadingOverlay {
	height: 100%;
	margin: 0;
	width: 100%;
}
.touchEnabled #swatches {
	opacity: 0.5;
    -webkit-transition: opacity 200ms 80ms, -webkit-transform 300ms ease;
    -moz-transition: opacity 200ms 80ms, -moz-transform 300ms ease;
    transition: opacity 200ms 80ms, -webkit-transform 300ms ease;
	-moz-transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
	z-index: 2;
}
.touchEnabled #swatches div {
	height: 12.4%;
	margin: 0 0.1% 0.1% 0;
	width: 9.9%;
}
.touchEnabled.expanded #swatches {
	opacity: 1;
	-moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.touchEnabled #roomScene {
	left: 0;
}

.touchEnabled #canvasWrapper, .touchEnabled #SVGwrapper, .touchEnabled #sceneImage {
	left: 50%;
	position: absolute;
	top: 0;
}

#loadingOverlay {
	-ms-transform: translate(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
	-webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.initComplete #loadingOverlay {
    -moz-transition: -moz-transform 150ms ease;
	-webkit-transition: -webkit-transform 150ms ease;
    transition: -transform 150ms ease;
}

.displayLoading #loadingOverlay {
	-ms-transform: translate(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* Animation keyframes - you need to add prefixes */
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
 
/* Loading animation container */
.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10em;
    height: 10em;
    margin: -5em 0 0 -5em;
}
 
/* Spinning circle (inner circle) */
.loading .maskedCircle {
    width: 7.7em;
    height: 7.7em;
    border-radius: 7.7em;
    border: 1em solid white;
}
 
/* Spinning circle mask */
.loading .mask {
    width: 4.6em;
    height: 4.6em;
    overflow: hidden;
}
 
/* Spinner */
.loading .spinner {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 10em;
    height: 10em;
    -moz-animation: spin 1s infinite linear;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

.loading .media {
    display: none;
}

.loading .media {
    text-align: center;
}

.media p {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.loadingApp .loading {
	display: block;
    left: 0;
    height: 100%;
    margin: -170px auto 0;
    text-align: center;
    width: 100%;
}

.loadingApp .loading .media{
	display: block;
}

.loadingApp .loading .spinner {
	display: none;
}

@-webkit-keyframes pulse {
	0% { opacity: 0; }
	30% { opacity: 0; }
	40% { opacity: 1; }
	60% { opacity: 1; }
	70% { opacity: 0; }
	100% { opacity: 0; }
}

@-moz-keyframes pulse {
    0% { opacity: 0; }
	30% { opacity: 0; }
	40% { opacity: 1; }
	60% { opacity: 1; }
	70% { opacity: 0; }
	100% { opacity: 0; }
}

@keyframes pulse {
    0% { opacity: 0; }
	30% { opacity: 0; }
	50% { opacity: 1; }
	70% { opacity: 0; }
	100% { opacity: 0; }
}

.singleTapIcon, .swipeIcon {
	-moz-animation: pulse 5s infinite linear alternate;
    -webkit-animation: pulse 5s infinite linear alternate;
    animation: pulse 5s infinite linear alternate;
	display: none;
	fill-opacity: 1;
    opacity: 1;
    position: relative;
    z-index: 999999;
}

.waitingTap .ico,
.waitingTap .singleTapIcon,
.waitingSwipe .swipeIcon
{
	display: block;
}

#mobileLog {
    color:#fff;
}